@import url("themes/current.css");
@define-color color1 @accent2;
@define-color color7 @fg;
@define-color background transparent;

* {
    min-height: 0;
    min-width: 0;
    font-size: 15px;
    font-weight: bold;
    font-family: "JetBrainsMono Nerd Font", "JetBrains Mono Nerd Font", "Symbols Nerd Font", monospace;
    color: @fg;
}

window#waybar {
    all: unset;
    background-color: @background;
    color: @color1;
}

.modules-left,
.modules-center,
.modules-right {
    margin-top: 8px;
    margin-bottom: -8px;
    margin-left: 20px;
    margin-right: 20px;
    border: none;
    padding: 8px 10px;
}

.modules-center {
    min-width: 150.5px;
}

tooltip {
    color: @fg;
    background-color: @surface;
    border: 1px solid @border;
    border-radius: 8px;
}

#custom-kitty:hover,
#custom-control:hover,
#custom-gimp:hover,
#custom-thunar:hover,
#custom-code:hover,
#custom-firefox:hover,
#clock:hover,
#bluetooth:hover,
#network:hover,
#custom-cpu:hover,
#custom-memory:hover,
#custom-gpu:hover,
#custom-colorpicker:hover,
#custom-power:hover,
#wireplumber:hover {
    transition: all 0.3s ease;
    color: @accent2;
}

#workspaces {
    padding: 0px 5px;
}

#workspaces button {
    all: unset;
    margin: 0px 6px;
    padding: 0px 8px;
    background: @module_bg;
    border-radius: 999px;
    transition: all 0.3s;
    min-width: 18px;
    min-height: 22px;
    color: @fg;
}

#workspaces button:hover {
    background: @module_hover;
}

#workspaces button.active {
    border: none;
    border-radius: 10px;
    background: @accent2;
    min-width: 34px;
}

#workspaces button:hover label,
#workspaces button.active label {
    color: @bg;
}

#group-expand {
    padding: 0px 5px;
    transition: all 0.3s ease;
}

#battery {
    color: @fg;
    padding: 0 6px;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}

#battery:hover {
    color: @accent2;
}

#custom-expand {
    padding: 0px 5px;
    color: @fg;
    transition: all 0.3s ease;
}

#custom-expand:hover {
    color: @accent2;
}

#custom-colorpicker,
#custom-cpu,
#custom-memory,
#custom-gpu,
#wireplumber,
#bluetooth,
#network,
#custom-power,
#clock,
#custom-kitty,
#custom-control,
#custom-gimp,
#custom-thunar,
#custom-code,
#custom-firefox {
    margin: 0 2px;
    padding: 0 6px;
    min-height: 22px;
    color: @fg;
    transition: all 0.3s ease;
}

#custom-endpoint {
    color: transparent;
}
